/* General */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #000000, #2e1c21);
  color: white;
}

/* Login page Container */
.login-page .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* 3D Effect */
.login-page .box {
  position: relative;
  border-radius: 20px;
  transform-style: preserve-3d;
}

/* translucent Card */
.login-page .box .card {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  width: 400px;
  min-height: 500px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  border-left: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
}
/* Floating  */
.login-page .elements {
  position: absolute;
  top: 50px;
  left: -30px;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  transform: translateZ(80px);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-top: 1px solid rgb(255, 255, 255, 0.75);
  border-left: 1px solid rgb(255, 255, 255, 0.75);
  border-radius: 20px;
  box-shadow: 0 25px 45px rgb(0, 0, 0, 0.5);
}

/* Title */
.login-page .elements.name {
  top: 65px;
  left: initial;
  right: 110px;
  width: 150px;
  padding: 10px;
  text-align: center;
  transform: translateZ(100px);
  background: transparent;
  backdrop-filter: blur(10px);
  border: none;
  box-shadow: none;
  opacity: 1;
  color: white;
}

.login-page .elements.logo::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(./logo.png);
  background-size: 100px;
  background-repeat: no-repeat;
  border-radius: 12px;
}

/* Content Box */
.login-page .elements.content {
  top: 150px;
  left: initial;
  bottom: 30px;
  right: 75px;
  width: 60%;
  min-height: 315px;
  padding: 10px;
  transform: translateZ(180px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Input */
.login-page input {
  background: transparent;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 7px;
  outline: none;
  color: #fff;
  /* border: none; */
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgb(255, 255, 255, 0.75);
  border-left: 1px solid rgb(255, 255, 255, 0.75);
  border-radius: 10px;
  width: 100%;
}

/* Placeholder */
.login-page ::placeholder {
  color: rgb(181, 177, 177);
  font-size: 10px;
  padding-left: 5px;
}

/* Login */
.login-page button {
  margin-top: 10px;
  background-color: transparent;
  color: white;
  padding: 5px 0;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgb(255, 255, 255, 0.75);
  border-left: 1px solid rgb(255, 255, 255, 0.75);
  border-radius: 10px;
  width: 100%;
}

.login-page button:hover {
  background-color:#000000;
}
.login-page .login::cue{
  color:linear-gradient(90deg, #007bff, #ff416c);
}

.login-page .signup-or {
  margin-top: 7px;
  color: #aaa;
  font-size: 14px;
}

.login-page .signup-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 7px;
}

.login-page .social-icon {
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
  padding-bottom: 5px;
}

.login-page .social-icon:hover {
  color: #8f8698;
}

.already-account {
  margin-top: 0.1rem;
  font-size: 0.9rem;
  text-align: center;
  color: #706f6f;
  font-weight: 600;
}

.signin-link {
  color: #8898a9;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}
