/* Dark background */
.landing-page {
  background-color: #000 !important;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar Customization */
.navbar {
  padding: 20px 0;
}

#navbtn {
  background-color: transparent;
  margin-right: 10px;
  padding: 8px 12px;
  border: 1px solid white;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}
#navbtn:hover {
  background-color: grey;
}

/* Hero Section */
.hero-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.grad-text {
  background: linear-gradient(90deg, #007bff, #ff416c);
  background-clip: text; /* Standard property */
  -webkit-background-clip: text; /* For Safari and Chrome */
  -webkit-text-fill-color: transparent; /* Ensures text takes gradient color */
  color: transparent; /* Standard property for fallback */
}

.hero-subtext {
  font-size: 1.2rem;
  max-width: 500px;
  margin: 10px 0 20px;
}

.element.logo {
  position: absolute;
  inset: 0;
  width: 400px;
  background: url(./MindVault.png);
  background-size: 60%;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.element-title {
  position: absolute;
  left: 100px;
  bottom: 40px;
}

.cta-button {
  font-size: 1.2rem;
  width: 50%;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}
